<div class="bg-body-secondary py-5 my-5">
  <footer class="container">
    <div class="row">
      <div class="col">
        <ul class="list-unstyled">
          <li>🖤 From Southern California with love</li>
          <li>🛻 <a href="mailto:truck@xo.engineering">truck@xo.engineering</a></li>
        </ul>

        <form action="#">
          <label class="form-label" for="newsletter">📬 Signup for email updates</label>
          <input class="form-control" type="email" name="newsletter" id="newsletter" placeholder="you@example.com">
        </form>
      </div>

      <div class="col text-end">
        <ul class="list-unstyled">
          <li><a href="https://mastodon.social/@xoengineering" target="_blank">Mastodon</a>  🐘</li>
          <li><a href="https://github.com/xoengineering"       target="_blank">GitHub</a>    🐙</li>
          <li><a href="https://youtube.com/@xoengineering"     target="_blank">YouTube</a>   📺</li>
          <li><a href="https://instagram.com/xoengineering"    target="_blank">Instagram</a> 📸</li>
          <li><a href="https://xo.engineering.bsky.app"        target="_blank">Bluesky</a>   🦋</li>
          <li><a href="https://threads.net/@xoengineering"     target="_blank">Threads</a>   🧵</li>
          <li><a href="https://tiktok.com/@xoengineering"      target="_blank">TikTok</a>    🎵</li>
        </ul>
      </div>
    </div>
  </footer>
</footer>
