<footer>
  <div class="row">
    <div class="col">
      <ul class="list-unstyled">
        <li>🖤 From Southern California with love</li>
        <li>💌 <a href="mailto:truck@xo.engineering">truck@xo.engineering</a></li>
      </ul>

      <form action="#">
        <label class="form-label" for="newsletter">Signup for email newsletter</label>
        <input class="form-control" type="email" name="newsletter" id="newsletter" placeholder="you@example.com">
      </form>
    </div>

    <div class="col text-end">
      <ul class="list-unstyled">
        <li><a href="#" target="_blank">Mastodon</a> ‼️</li>
        <li><a href="#" target="_blank">GitHub</a> ‼️</li>
        <li><a href="#" target="_blank">YouTube</a> ‼️</li>
        <li><a href="#" target="_blank">Instagram</a> ‼️</li>
        <li><a href="#" target="_blank">Bluesky</a> ‼️</li>
        <li><a href="#" target="_blank">Threads</a> ‼️</li>
        <li><a href="#" target="_blank">TikTok</a> ‼️</li>
      </ul>
    </div>
  </div>
</footer>
