<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      ❌⭕️
      <span class="visually-hidden">— XO</span>
      Engineering
    </a>

    <ul class="navbar-nav me-auto mt-1">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">About</a>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="btn btn-outline-success" aria-current="page" href="#">
          💰Support XO
        </a>
      </li>
    </ul>
  </div>
</nav>
